*{
    margin: 0;
    padding: 0;
}

.filterPostArea{
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    margin-top: 10px;
    font-weight: 700;
}

.publicPost{
    margin-right: 10px;
    color: red;
}