*{
  margin: 0;
  padding: 0;
}

.appStyle{
  width: 100%;
  height: auto;
  background-color: rgb(235, 231, 231);
}

@media only screen and (max-width: 410px){
  .appStyle{
    width: 100%;
    height: auto;
    background-color: rgb(235, 231, 231);
  }
}

.appContentBody{
  height: auto;
  padding-top: 50px;
  margin: 0px 120px;
  display: grid;
  grid: auto/ auto auto auto;
  gap: 10px;
}

@media only screen and (max-width: 410px) {
  .appContentBody{
    padding-top: 100px;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
  }

  .appContentBody .leftContentBody {
    order: 1;
  }

  .appContentBody .rightContentBody {
    order: 2;
  }
  .appContentBody .middleContentBody {
    order: 3;
  }
}

.leftContentBody{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 410px) {
  .leftContentBody{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.middleContentBody{
  height: auto;
  display: flex;
  flex-direction: column;
}

.rightContentBody{
  height: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 410px) {
  .rightContentBody{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}