*{
    margin: 0;
    padding: 0;
}

.displayReactionArea{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.displayTotalComment p{
    color: gray;
}

.reactionCountArea{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reactionsIcon{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 50%;
    margin-right: 10px;
}